.Xauthority
.gitconfig
.Xresources
.bash_aliases
.bash_history
.bash_logout
.bashrc
.cache/
.calendar/
.config/Terminal/
.config/Thunar/
.config/Trolltech.conf
.config/autostart/
.config/bunsen/
.config/clipit/
.config/compton.conf
.config/conky/
.config/dconf/
.config/dmenu/
.config/fdpowermon/
.config/fontconfig/
.config/geany/
.config/gigolo/
.config/gsimplecal/
.config/gtk-3.0/
.config/mimeapps.list
.config/nitrogen/
.config/openbox/autostart~bl-welcome-2018-01-09T17:22:42~
.config/openbox/environment
.config/openbox/menu.xml
.config/openbox/pipemenus.rc
.config/openbox/rc.xml
.config/plank/
.config/pulse/
.config/terminator/
.config/tint2/tint2-sessionfile
.config/tint2/tint2rc-bottom
.config/user-dirs.dirs
.config/user-dirs.locale
.config/volti/
.config/volumeicon/
.config/xfce4/
.config/yad.conf
.dmrc
.fonts
.gconf/
.gmrunrc
.gtk-bookmarks
.gtkrc-2.0
.gtkrc-2.0.mine
.icons
.local/
.mozilla/
.pbuilderrc
.profile
.profile~2018-01-09T17:18:36~
.ssh/
.themes
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
.viminfo
.xsession-errors
.xsession-errors.old
.xsessionrc
Pictures/
Templates/

